{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<form action="." method="post" id="reply_form">
    {% csrf_token %}
    <div class="form-group">
        <div id="test">
            {{ comment_form.media }}
            {{ comment_form.body }}
        </div>
    </div>
</form>
<button onclick="confirm_submit({{ article_id }},{{ parent_comment_id }})" class="btn btn-primary">发送</button>
<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'csrf.js' %}"></script>
<script>
    $(function () {
        $(".django-ckeditor-widget").removeAttr('style');
    })
    function confirm_submit(article_id,comment_id) {
        {#取得当前编辑器中用户输入的内容。#}
        let content=CKEDITOR.instances['id_body'].getData();
        {#Ajax可以在表单提交成功后得到反馈，以便刷新页面#}
        $.ajax({
            url:'/comment/post-comment/'+article_id+'/'+comment_id,
            type:'POST',
            data:{body:content},
            success: function(e){
                if(e.code==='200 OK'){
                    {#刷新当前的父页面（即文章所在的页面），实现了数据的更新。#}
                    {#parent.location.reload();#}
                    parent.post_reply_and_show_it(e.new_comment_id);
                }
            }
        })
    }
</script>
</body>
</html>